<p id="notice"><%= notice %></p>

<h1>Scraped Products</h1>

<a href="/scraped_products?product_type=motherboard">Motherboards</a>
<br>
<a href="/scraped_products?product_type=gpu">GPUs</a>
<br>
<a href="/scraped_products?product_type=power_supply">PSUs</a>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Day scraped</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scraped_products.each do |scraped_product| %>
      <tr>
        <td><%= scraped_product.name %></td>
        <td><%= scraped_product.price %></td>
        <td><%= scraped_product.day_scraped %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
