<h1>Historic Pricing</h1>
<h3><%= @scraped_product.name %></h3>
<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @historic_products.each do |scraped_product| %>
      <tr>
        <td><%= scraped_product.price %></td>
        <td><%= scraped_product.day_scraped %></td>
      </tr>
    <% end %>
  </tbody>
</table>
